<tr>
  <td class="relative py-5 pr-6">
    <div class="flex gap-x-6">
      <div class="flex-auto">
        <div class="flex items-start gap-x-3">
          <div class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-100"><%= feedback.organization.name %></div>
          <%= render partial: 'domains/validity_badge', locals: { all_valid: feedback.all_records_dmarc_valid?, any_valid: feedback.any_records_dmarc_valid?, name: 'Dmarc' } %>
          <%= render partial: 'domains/validity_badge', locals: { all_valid: feedback.all_records_dkim_valid?, any_valid: feedback.any_records_dkim_valid?, name: 'DKIM' } %>
          <%= render partial: 'domains/validity_badge', locals: { all_valid: feedback.all_records_spf_valid?, any_valid: feedback.any_records_spf_valid?, name: 'SPF' } %>
        </div>
        <div class="mt-1 text-xs leading-5 text-gray-500 dark:text-gray-400"><%= source_ip_list(feedback) %></div>
      </div>
    </div>
    <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
    <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
  </td>
  <td class="py-5 text-right">
    <div class="flex justify-end">
      <%= link_to 'View this feedback', [feedback.domain, feedback], class: 'text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500' %>
    </div>
    <div class="mt-1 text-xs leading-5 text-gray-500 dark:text-gray-400"><%= t('.report_id') %><span class="text-gray-900 dark:text-gray-200"><%= feedback.report_id %></span></div>
  </td>
</tr>
