<div class="px-4 sm:px-6 lg:px-8 space-y-16 py-16 xl:space-y-20">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-300"><%= t('.title') %></h1>
      <p class="mt-2 text-sm text-gray-700 dark:text-gray-500"><%= t('.description') %></p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-300 sm:pl-0"><%= t('.table_head_source') %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-300"><%= t('.table_head_dmarc_status') %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-300"><%= t('.table_head_dkim_status') %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-300"><%= t('.table_head_spf_status') %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-300"><%= t('.table_head_volume') %></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white dark:bg-slate-800">
            <% records.each do |record| %>
              <%= render partial: 'feedbacks/record', locals: { record: } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
