<tr>
  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
    <div class="flex items-center">
      <div class="ml-4">
        <div class="font-medium text-gray-900 dark:font-bold">
          <%= turbo_frame_tag "dns_#{record.source_ip}", src: ptr_lookup_path(record.source_ip), lazy: true do %>
            <%= t('.dns_placeholder') %>
          <% end %>
        </div>
        <div class="mt-1 text-gray-500 dark:text-gray-400"><%= record.source_ip %></div>
      </div>
    </div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <%= render partial: 'feedbacks/result_badge', locals: { pass: record.dmarc } %>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <%= render partial: 'feedbacks/result_badge', locals: { pass: record.dkim_pass } %>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <%= render partial: 'feedbacks/result_badge', locals: { pass: record.spf_pass } %>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500 dark:text-gray-400"><%= record.count %></td>
</tr>
