<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'DMARClean' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white dark:bg-slate-800">
    <% if rodauth.logged_in? %>
      <%= render partial: 'layouts/header' %>
    <% end %>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
